<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formation Sensibilisation à la Cybersécurité pour Intermédiaires</title>
  <link rel="stylesheet" href="formationinter1.component.scss">
</head>
<body>
<header>
  <h1>Formation Sensibilisation à la Cybersécurité pour Initermédiaires</h1>
  <p>Comprendre les principes fondamentaux de la Cybersécurité</p>
</header>
<div class="gradient-background">
  <main>

    <section class="module">
      <h2>Explorez des concepts avancés et des techniques de pointe</h2>
      <ul>
        <li>Threat intelligence et analyse : Comprenez les menaces émergentes</li>
        <li>Security incident response : Gestion des incidents de sécurité</li>
        <li>Advanced malware analysis : Analyse des malwares complexes</li>
      </ul>
    </section>
    <section class="module">
      <h2>Apprenez à sécuriser les environnements et services cloud</h2>
      <ul>
        <li>Cloud security models (IaaS, PaaS, SaaS) : Compréhension des modèles de sécurité</li>
        <li>Identity and access management (IAM) : Gestion des accès</li>
        <li>Encryption in the cloud : Chiffrement des données</li>
      </ul>
    </section>


    <!-- Ajoutez les autres modules ici -->
  </main>
  <a href="Certification_Sensibilisation Cybersécurité_Niveau Intermédiaires.pdf" download="Certification_Sensibilisation Cybersécurité_Niveau Intermédiaires.pdf"><button>Télécharger votre certification</button></a>
</div>
<footer>
  <h2 class="centerh2">
    <p><br>Quiz pour Intermédiaires:<br/>
      <br>Qu’est-ce qu’une attaque par déni de service (DDoS) et comment fonctionne-t-elle ?<br/>
      <br>Qu’est-ce qu’une vulnérabilité de sécurité et comment peut-elle être exploitée par des attaquants ?<br/>
      <br>Qu’est-ce qu’un mot de passe fort et quels sont les critères recommandés pour en créer un ?<br/></p></h2>
</footer>
</body>
</html>








