<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formation RGPD pour Débutants</title>
  <link rel="stylesheet" href="formationinit3.component.scss">
</head>
<body>
<header>
  <h1>Formation RGPD pour Débutants</h1>
  <p>Comprendre les principes fondamentaux du RGPD</p>
</header>
<div class="gradient-background">
<main>

  <section class="module">
    <h2>Aperçu du Cours</h2>
    <ul>
      <li>Qu’est-ce que le RGPD ?</li>
      <li>Origine et objectifs du RGPD</li>
      <li>Portée et applicabilité</li>
    </ul>
  </section>
  <section class="module">
    <h2>Obligations des Responsables de Traitement</h2>
    <ul>
      <li>Rôles et Responsabilités</li>
      <li>DPO (Délégué à la Protection des Données)</li>
      <li>Analyse d’Impact sur la Protection des Données (AIPD)</li>
    </ul>
  </section>
</main>
  <a href="/assets/ima/Certification_RGPD_Niveau%20Initiés.pdf" download="Certification_RGPD_Niveau Initié.pdf"><button>Télécharger votre certification</button></a>
</div>
<footer>
  <h2 class="centerh2">
  <p><br>Quiz RGPD pour Initiés:<br/>
    <br>Quelle est la signification de l’acronyme “RGPD” ?<br/>
    <br>Quel est l’objectif principal du RGPD ?<br/>
    <br>Quels droits les individus ont-ils en vertu du RGPD ?<br/></p></h2>
</footer>
</body>
</html>

