:host {
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: white;

  h1 {
    color: black;
    font-size: xx-large;
  }

  label {
    font-size: large;
    margin: 10px 0;
    color: black;
  }

  button {
    margin: 10px 0;
  }
}
