@if (student$ | async; as student) {
<h1>Données personnelles de l'étudiant</h1>
<form (ngSubmit)="save(student)" #studentForm="ngForm">
  <div class="form-group">
    <label for="lastName">Nom</label>
    <input
      type="text"
      class="form-control"
      id="lastName"
      required
      [(ngModel)]="student.lastName"
      name="lastName"
      #lastName="ngModel"
    />
    <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">Le nom est obligatoire</div>
  </div>
  <div class="form-group">
    <label for="firstName">Prénom</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      required
      [(ngModel)]="student.firstName"
      name="firstName"
      #firstName="ngModel"
    />
    <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">Le prénom est obligatoire</div>
  </div>
  <div class="form-group">
    <label for="password">Mot de passe</label>
    <input
      type="text"
      class="form-control"
      id="password"
      required
      [(ngModel)]="student.password"
      name="password"
      #password="ngModel"
    />
    <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Le mot de passe est obligatoire </div>
  </div>


  <div class="form-group">
    <label for="birthDate">Date de naissance</label>
    <input
      type="date"
      class="form-control"
      id="birthDate"
      required
      [ngModel]="student.birthdate | date : 'yyyy-MM-dd'"
      name="birthDate"
      #birthDate="ngModel"
      (ngModelChange)="updateBirthdate($event, student)"
    />
    <div
      [hidden]="(birthDate.pristine && birthDate.untouched) || birthDate.value !== today.toISOString().slice(0, 10)"
      class="alert alert-danger"
    >
      La Date de naissance est obligatoire
    </div>
  </div>


  @if (allStatuses$ | async; as allStatuses) {
  <div class="form-group">
    <label for="status">Status</label>
    <select id="status" [(ngModel)]="statusSelectModel" name="statuses" class="form-control">
      <option [ngValue]="null" [disabled]="true">Sélectionner un status</option>
      @for (status of allStatuses; track status) {
      <option [ngValue]="status">{{ status.name }}</option>
      }
    </select>
  </div>
  }
  <div class="student-offers">
    <div class="d-flex align-items-center">
      <h3 class="offers-title">Offre</h3>
      <button type="button" mat-mini-fab color="primary" (click)="offerClick()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    @if (allOffers$ | async; as allOffers) {
    <div class="form-group">
      <label for="offers">offres disponibles</label>
      <select id="offers" [(ngModel)]="offerSelectModel" name="offers" class="form-control">
        <option [ngValue]="null" [disabled]="true">Sélectionner une offre</option>
        @for (offer of allOffers; track offer) {
        <option [ngValue]="offer"> Offre: {{ offer.name }} | difficulté: {{offer.difficulty}}</option>
        }
      </select>
      @if (notSelectedOffer) {
      <div class="alert alert-danger">L'offre est obligatoire</div>
      }
      <button
        type="button"
        [disabled]="offerSelectModel == null"
        (click)="addOfferToStudent(student)"
        mat-raised-button
        color="primary"
      >
        Ajouter un cours
      </button>
    </div>
    }
    <table class="table">
      <tbody>
        @for (offer of student.offers; track offer) {
        <tr>
          <td>{{ offer?.name }}</td>
          <td>
            <button mat-icon-button color="warn" (click)="removeOfferToStudent(student, offer)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <button type="submit" mat-raised-button color="primary" [disabled]="!studentForm.form.valid">Enregistrer</button>
</form>
}
