<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formation Sensibilisation à la Cybersécurité pour Initiés</title>
  <link rel="stylesheet" href="formationinit1.component.scss">
</head>
<body>
<header>
  <h1>Formation Sensibilisation à la Cybersécurité pour Initiés</h1>
  <p>Comprendre les principes fondamentaux de la Cybersécurité</p>
</header>
<div class="gradient-background">
  <main>

    <section class="module">
      <h2>Fondamentaux de la Cybersécurité</h2>
      <ul>
        <li>Introduction à la Cybersécurité</li>
        <li>Qu’est-ce que la cybersécurité ?</li>
        <li>Pourquoi est-elle essentielle ?</li>
      </ul>
    </section>
    <section class="module">
      <h2>Protéger Votre Identité Numérique</h2>
      <ul>
        <li>Mots de Passe et Authentification</li>
        <li>Création de mots de passe solides</li>
        <li>Authentification multi-facteurs (MFA)</li>
      </ul>
    </section>


    <!-- Ajoutez les autres modules ici -->
  </main>
  <a href="Certification_Sensibilisation Cybersécurité_Niveau Inités.pdf" download="Certification_Sensibilisation Cybersécurité_Niveau Initié.pdf"><button>Télécharger votre certification</button></a>
</div>
<footer>
  <h2 class="centerh2">
    <p><br>Quiz pour Initiés:<br/>
      <br>Qu’est-ce qu’une attaque par phishing ?<br/>
      <br>Qu’est-ce qu’un pare-feu et quel est son rôle dans la sécurité informatique ?<br/>
      <br>Qu’est-ce qu’un logiciel malveillant (malware) et quelles sont les différentes formes qu’il peut prendre ?<br/></p></h2>
</footer>
</body>
</html>







