<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="price.component.scss">
  <title>Nos offres & tarifs</title>
</head>
<body>
<div class="container">
  <h1>Nos offres & tarifs</h1>
  <p>Découvrez les tarifs proposés pour nos différentes offres et engagements.</p>

  <div class="plan">
    <h2>Formation Initié</h2>
    <div class="image-container">
      <img src="../../assets/star.gif" alt="Mon GIF animé" width="50" height="50">
    </div>

    <p>Pour découvrir et s'initier</p>
    <p>2,99€ Par mois</p>
    <ul>
      <li>Accès au catalogue de cours</li>
      <li>Accès aux parcours métiers</li>
      <li>Plus de 10h de cours</li>
      <li>+120 exercices pratiques et quizz</li>
    </ul>
    <button routerLink="/signin">S'inscrire à la formation</button>
  </div>
  <div class="plan">
    <h2>Formation Intermédiaire</h2>
    <div class="image-container">
      <img src="../../assets/star.gif" alt="Mon GIF animé" width="50" height="50">
      <img src="../../assets/star.gif" alt="Mon GIF animé" width="50" height="50">
    </div>
    <p>Pour découvrir et s'initier</p>
    <p>5,99€ Par mois</p>
    <ul>
      <li>Accès au catalogue de cours</li>
      <li>Accès aux parcours métiers</li>
      <li>Plus de 30h de cours</li>
      <li>+120 exercices pratiques et quizz</li>
    </ul>
    <button routerLink="/signin">S'inscrire à la formation</button>
  </div>
  <div class="plan">
    <h2>Formation Expert</h2>
    <div class="image-container">
      <img src="../../assets/star.gif" alt="Mon GIF animé" width="50" height="50">
      <img src="../../assets/star.gif" alt="Mon GIF animé" width="50" height="50">
      <img src="../../assets/star.gif" alt="Mon GIF animé" width="50" height="50">
    </div>
    <p>Pour découvrir et s'initier</p>
    <p>10,99€ Par mois</p>
    <ul>
      <li>Accès au catalogue de cours</li>
      <li>Accès au support technique</li>
      <li>Accès aux parcours métiers</li>
      <li>Plus de 70h de cours</li>
      <li>+120 exercices pratiques et quizz</li>
    </ul>
    <button routerLink="/signin" >S'inscrire à la formation</button>
  </div>

  <!-- Ajoutez les autres plans ici -->

</div>
</body>
</html>

