<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formation Pentest pour Experts</title>
  <link rel="stylesheet" href="formationexpert2.component.scss">
</head>
<body>
<header>
  <h1>Formation Pentest pour Experts</h1>
  <p>Comprendre les principes fondamentaux du Pentest</p>
</header>
<div class="gradient-background">
  <main>

    <section class="module">
      <h2>Droits des Individus et Gestion des Demandes</h2>
      <ul>
        <li>Droits des Personnes Concernées</li>
        <li>Traitement des Données Sensibles</li>
        <li>Explorer les règles spécifiques concernant les données sensibles (santé, religion, etc.)</li>
      </ul>
    </section>
    <section class="module">
      <h2>Sécurité des Données Avancée</h2>
      <ul>
        <li>Cryptage et Pseudonymisation</li>
        <li>Approfondir les techniques de cryptage</li>
        <li>Mettre en œuvre la pseudonymisation pour protéger l’anonymat des individus</li>
      </ul>
    </section>
    <button>Télécharger votre certification</button>


    <!-- Ajoutez les autres modules ici -->
  </main>
</div>
<footer>
  <h2 class="centerh2">
    <p><br>Quiz Pentest pour Experts:<br/>
      <br>Quelles sont les techniques courantes de contournement d’authentification ?<br/>
      <br>Comment évaluer la sécurité d’une application web ?<br/>
      <br>Quelles sont les étapes pour rédiger un rapport de test de pénétration ?<br/></p></h2>
</footer>
</body>
</html>






