<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulaire de Paiement</title>
  <link rel="stylesheet" href="reglementinter.component.scss">
</head>
<body>
<div class="container">
  <form class="payment-form">
    <h1 class="form-title">Paiement par Carte Bleue</h1>
    <div class="form-input-group">
      <input type="text" class="form-input" placeholder="Nom du titulaire de la carte">
    </div>
    <div class="form-input-group">
      <input type="text" class="form-input" placeholder="Numéro de carte">
    </div>
    <div class="form-input-group">
      <input type="text" class="form-input" placeholder="Date d'échéance">
      <input type="text" class="form-input" placeholder="Code CVV">
    </div>
    <div class="form-input-group">
      <input type="text" class="form-input" placeholder="Adresse de facturation">
      <input type="text" class="form-input" placeholder="Ville">
      <select class="form-input">
        <option value="France">France</option>
        <!-- Ajoutez d'autres options de pays ici -->
      </select>
    </div>
    <button class="form-button" type="submit" routerLink="/selectioninter">Payer</button>
  </form>
</div>
</body>
</html>

