<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formation Pentest pour Débutants</title>
  <link rel="stylesheet" href="formationinit2.component.scss">
</head>
<body>
<header>
  <h1>Formation Pentest pour Débutants</h1>
  <p>Comprendre les principes fondamentaux du Pentest</p>
</header>
<div class="gradient-background">
  <main>

    <section class="module">
      <h2>Introduction au Pentest</h2>
      <ul>
        <li>Qu’est-ce que le Pentest ?</li>
        <li>Définition et objectifs</li>
        <li>Types de Pentest (black box, white box, grey box)</li>
      </ul>
    </section>
    <section class="module">
      <h2>Préparation du Pentest</h2>
      <ul>
        <li>Scoping et Règles d’Engagement</li>
        <li>Établir les règles et limitations</li>
        <li>Considérations Légales et Éthiques</li>
      </ul>
    </section>



    <!-- Ajoutez les autres modules ici -->
  </main>
  <a href="Certification_Pentest_Niveau Inités.pdf" download="Certification_Pentest_Niveau Initié.pdf"><button>Télécharger votre certification</button></a>
</div>
<footer>
  <h2 class="centerh2">
    <p><br>Quiz Pentest pour Initiés:<br/>
      <br>Quelle est la première étape d’un test de pénétration ?<br/>
      <br>Quelle est la différence entre l’information passive et l’information active ?<br/>
      <br>Quels sont les outils couramment utilisés pour la collecte d’informations ?<br/></p></h2>
</footer>
</body>
</html>




