<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="home.component.scss">
  <title>CyberTrain - Formation en cybersécurité</title>
</head>
<body>
<div class="gradient-background">
  <h1>Formation cybersécurité - Parcours certifiants 100% en ligne</h1>
  <p>Votre carrière en cybersécurité commence ici. Lancez-vous grâce à nos formations en ligne.</p>

  <button routerLink ="/prix">Commencer gratuitement</button>
  <p>Essai gratuit et sans carte bleue</p>
</div>

<div class="container">
  <br><h1>Une plateforme de formation cybersécurité en ligne</h1><br/>
  <br><p>La mission que nous nous sommes donnée : créer un environnement unique et ergonomique avec tous les outils pour une progression rapide et efficace.</p><br/>

  <div class="features">
    <div class="feature">
      <h2>Théorie & Pratique</h2>
      <p>Passez à l'entraînement pour un apprentissage complet et durable. Vous mettez en pratique vos connaissances tout juste acquises au fil de votre parcours.</p>
    </div>
    <!-- Ajoutez les autres fonctionnalités ici -->
  </div>

  <div class="community">
    <h2>La communauté</h2>
    <p>Echangez, veillez, partagez avec une communauté d'apprenants passionnés par la cybersécurité.</p>
  </div>

  <div class="customization">
    <h2>Le sur-mesure</h2>
    <p>Débutez votre parcours selon votre niveau. En 1ère étape de votre formation, vous réalisez un test de positionnement qui définit votre point de départ sur le parcours.</p>
  </div>
</div>

</body>
</html>


