<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page de Connexion</title>
  <link rel="stylesheet" href="signin.component.scss">
</head>
<body>
<div class="container">
  <form class="form" id="login">
    <h1 class="form__title">Connexion</h1>
    <div class="form__input-group">
      <input type="text" class="form__input" autofocus placeholder="Nom d'utilisateur ou email">
      <div class="form__input-error-message"></div>
    </div>
    <div class="form__input-group">
      <input type="password" class="form__input" autofocus placeholder="Mot de passe">
      <div class="form__input-error-message"></div>
    </div>
    <button class="form__button" type="submit">Continuer</button>
    <p class="form__text">
      <a href="#" class="form__link">Mot de passe oublié ?</a>
    </p>
    <p class="form__text">
      <a class="form__link" href="#">Pas encore de compte ?</a>
    </p>
  </form>
</div>
</body>
</html>

