<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formation Pentest pour Intermédiaires</title>
  <link rel="stylesheet" href="formationinter2.component.scss">
</head>
<body>
<header>
  <h1>Formation Pentest pour Intermédiaires</h1>
  <p>Comprendre les principes fondamentaux du Pentest</p>
</header>
<div class="gradient-background">
  <main>

    <section class="module">
      <h2>Analyse d’Impact sur la Protection des Données (AIPD)</h2>
      <ul>
        <li>Évaluation des Risques</li>
        <li>Identifier les risques liés au traitement des données personnelles</li>
        <li>Mettre en place des mesures de protection adaptées</li>
      </ul>
    </section>
    <section class="module">
      <h2>Droits des Individus et Gestion des Demandes</h2>
      <ul>
        <li>Droits des Personnes Concernées</li>
        <li>Approfondir les droits d’accès, d’effacement et de portabilité</li>
        <li>Gérer les demandes des individus</li>
      </ul>
    </section>



    <!-- Ajoutez les autres modules ici -->
  </main>
  <a href="Certification_Pentest_Niveau Intermédiaires.pdf" download="Certification_Pentest_Niveau Intermédiaires.pdf"><button>Télécharger votre certification</button></a>
</div>
<footer>
  <h2 class="centerh2">
    <p><br>Quiz Pentest pour Intermédiaires:<br/>
      <br>Quelles sont les principales phases d’un test de pénétration ?<br/>
      <br>Comment fonctionne un scanner de vulnérabilités ?<br/>
      <br>Quelles sont les meilleures pratiques pour l’exploitation des vulnérabilités ?<br/></p></h2>
</footer>
</body>
</html>





