
/* Réinitialisation des styles par défaut */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles pour le conteneur de la page */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

/* Styles pour le formulaire de connexion */
.form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

/* Styles pour le titre du formulaire */
.form__title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

/* Styles pour les champs de saisie */
.form__input-group {
  margin-bottom: 15px;
}

.form__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Styles pour le bouton de connexion */
.form__button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form__button:hover {
  background-color: #0056b3;
}

/* Styles pour les liens */
.form__link {
  color: #007bff;
  text-decoration: none;
}

.form__link:hover {
  text-decoration: underline;
}
