<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formation RGPD pour Intermédiaires</title>
  <link rel="stylesheet" href="formationinter3.component.scss">
</head>
<body>
<header>
  <h1>Formation RGPD pour Intermédiaires</h1>
  <p>Comprendre les principes fondamentaux du RGPD</p>
</header>
<div class="gradient-background">
  <main>

    <section class="module">
      <h2>Analyse d’Impact sur la Protection des Données (AIPD)</h2>
      <ul>
        <li>Évaluation des Risques</li>
        <li>Identifier les risques liés au traitement des données personnelles</li>
        <li>Mettre en place des mesures de protection adaptées</li>
      </ul>
    </section>
    <section class="module">
      <h2> Droits des Individus et Gestion des Demandes</h2>
      <ul>
        <li>Droits des Personnes Concernées</li>
        <li>Approfondir les droits d’accès, d’effacement et de portabilité</li>
        <li>Gérer les demandes des individus</li>
      </ul>
    </section>

    <!-- Ajoutez les autres modules ici -->
  </main>
  <a href="Certification_RGPD_Niveau Intermédiaires.pdf" download="Certification_RGPD_Niveau Intermédiaires.pdf"><button>Télécharger votre certification</button></a>
</div>
<footer>
  <h2 class="centerh2">
    <p><br>Quiz RGPD pour Intermédiaires:<br/>
      <br>Quelles sont les bases légales pour le traitement des données personnelles selon le RGPD ?<br/>
      <br>Quelles sont les principales obligations des responsables de traitement en matière de protection des données ?<br/>
      <br>Qu’est-ce qu’une analyse d’impact sur la protection des données (AIPD) ?<br/></p></h2>
</footer>
</body>
</html>


