<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formation pour les initiés</title>
  <link rel="stylesheet" href="selectioninit.component.scss">
</head>
<body>
<h1 class="centerh1">Formation pour les initiés</h1>
<div class="container">
  <div class="training-section">
    <h1 class="training-title">Formation Sensibilisation à la Cybersécurité</h1>
    <p class="training-description">Si vous êtes passionné par la lutte contre la cybercriminalité et que le mantra “sois proche de tes amis et encore plus de tes ennemis” résonne en vous, peut-être comprenez-vous que le piratage informatique peut révéler des intentions répréhensibles et bienveillantes, pourvu qu’il soit utilisé de manière éthique. Si tel est le cas, pourquoi ne pas envisager de devenir un hacker éthique ?</p>
    <div class="buttons">
      <button class="start-training" routerLink ="/formationinit1">Commencer votre formation</button>
    </div>
  </div>
  <div class="cybertraining-section">
    <h2 class="cybertraining-title">Sensibilisation à la Cybersécurité</h2>
    <img src="../../assets/ima/Pentest.webp" alt="Mon GIF animé" width="50" height="50">
    <p class="cybertraining-details">Nos programmes de formation sont conçus pour former tous les profils techniques aux compétences professionnelles du métier de la Cybersécurité.</p>
    <ul class="features">
      <li>100% en ligne</li>
      <li>Théorie & Pratique</li>
      <li>Personnalisé par niveau</li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="training-section">
    <h1 class="training-title">Formation au Pentest</h1>
    <p class="training-description">Vous êtes fasciné(e) par la sécurité informatique et les défis liés à la protection des systèmes et des réseaux ? Vous rêvez de devenir un(e) expert(e) en cybersécurité, capable de détecter et de corriger les vulnérabilités avant qu’elles ne soient exploitées par des pirates ?

      La formation au pentest est votre opportunité ! En rejoignant cette formation, vous plongerez dans l’univers des tests d’intrusion, où vous apprendrez à simuler les actions d’un attaquant pour identifier les failles de sécurité.</p>
    <div class="buttons">
      <button class="start-training" routerLink ="/formationinit2">Commencer votre formation</button>
    </div>
  </div>
  <div class="cybertraining-section">
    <h2 class="cybertraining-title">Formation au Pentest</h2>
    <img src="../../assets/ima/Pentest2.gif" alt="Mon GIF animé" width="50" height="50">
    <p class="cybertraining-details">Nos programmes de formation sont conçus pour former tous les profils techniques aux compétences professionnelles du métier de la Cybersécurité.</p>
    <ul class="features">
      <li>100% en ligne</li>
      <li>Théorie & Pratique</li>
      <li>Personnalisé par niveau</li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="training-section">
    <h1 class="training-title">Formation RGPD : Règlement Général sur la Protection des Données</h1>
    <p class="training-description">Vous êtes curieux(se) de comprendre comment protéger vos données personnelles et celles de vos utilisateurs ? Vous souhaitez acquérir des compétences essentielles pour garantir la conformité de votre entreprise avec la législation en matière de protection des données ? Ne cherchez plus ! La formation RGPD est là pour vous.

      Le RGPD est bien plus qu’une simple réglementation. C’est une opportunité d’apprendre à gérer les données de manière éthique, transparente et sécurisée.</p>
    <div class="buttons">
      <button class="start-training" routerLink ="/formationinit3">Commencer votre formation</button>
    </div>
  </div>
  <div class="cybertraining-section">
    <h2 class="cybertraining-title">Formation RGPD</h2>
    <img src="../../assets/ima/RGPD2.gif" alt="Mon GIF animé" width="50" height="50">
    <p class="cybertraining-details">Nos programmes de formation sont conçus pour former tous les profils techniques aux compétences professionnelles du métier de la Cybersécurité.</p>
    <ul class="features">
      <li>100% en ligne</li>
      <li>Théorie & Pratique</li>
      <li>Personnalisé par niveau</li>
    </ul>
  </div>
</div>
</body>
</html>
