<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page de Contact</title>
</head>
<body>
<div class="contact-container">
  <h1>Contactez-nous</h1>
  <p>Nous sommes là pour vous aider. N'hésitez pas à nous contacter :</p>
  <div class="contact-info">
    <br><p><strong>Email :</strong> <a href="mailto:contact@votreentreprise.com">support-cybertrain.com</a></p>
    <p><strong>Téléphone :</strong> 01 52 56 33 31</p>
    <p><strong>Adresse :</strong> 64 Rue du Contact, 92300 Levallois-Perret</p><br/>
  </div>
  <div class="contact-icons">
    <a href="https://web.whatsapp.com/"><img src="../../assets/ima/telephone-icon.png" alt="Téléphone" width="50" height="50"></a>
    <a href="https://outlook.live.com/"><img src="../../assets/ima/email-icon.png" alt="Email" width="50" height="50"></a>
    <a href="https://fr.linkedin.com/"><img src="../../assets/ima/linkedin-icon.png" alt="LinkedIn" width="50" height="50"></a>
    <a href="https://fr-fr.facebook.com/"><img src="../../assets/ima/facebook-icon.png" alt="LinkedIn" width="50" height="50"></a>
  </div>
</div>
</body>
</html>

